<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding" scroll-y="false" *ngIf="chats.length == 0 && !loading">
      <ion-slides>
        <ion-slide>
          <div class="slide">
            <img src="/assets/empty.png" />
            <h2>aargh! No active chats.</h2>
            <p>You don't have any active <b>chats</b>. Go say ahoy to a fellow <i>matey</i>.</p>
          </div>
        </ion-slide>
      </ion-slides>
</ion-content>
<ion-content fullscreen *ngIf="chats.length > 0 && !loading">
      <ion-list>
        <ion-item *ngFor="let chat of chats; let i = index" (click)="openChat(chats[i]);">
          <ion-avatar slot="start">
            <ngx-avatar gravatarId="{{chat.participants[0].email}}"
                        name="{{chat.participants[0].username}}" *ngIf="chat.participants.length == 1" size="45"></ngx-avatar>
            <ngx-avatar name="Group Chat" *ngIf="chat.participants.length > 1" size="45"></ngx-avatar>
            <ion-badge *ngIf="chat.participants.length > 1" color="accent">{{ chat.participants.length }}</ion-badge>
          </ion-avatar>
          <ion-label>
            <h2>{{chat.name}}</h2>
            <p>{{chat.participants | joiner}}
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
