<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
      <ion-item lines="full">
        <ion-input formControlName="username" type="text" required placeholder="Username"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input formControlName="password" type="password" required placeholder="Password"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input formControlName="phoneNumber" type="text" placeholder="Phone number"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
        </ion-col>
      </ion-row>

  </form>

</div>

</ion-content>
