<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
      <ion-item lines="full">
        <ion-label position="floating" class="required">Username</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating" class="required">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>


  </form>

</div>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
