<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chat with {{ title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="chatbox">
    <div class="message-area">
      <div class="message" *ngFor="let message of messages" [ngClass]="getClasses(message)">
        <p>{{message.payload}}</p>
      </div>
    </div>
  </div>

  <div slot="fixed" class="chatbox">
    <div class="input-area">
      <form (submit)="sendMessage()" name="messageForm" #messageForm="ngForm">
        <ion-input [disabled]="sending" type="text" name="message" id="message" [(ngModel)]="message" placeholder="Say something..."></ion-input>
        <button>
          <ion-icon name="send"></ion-icon>
        </button>
      </form>
    </div>
  </div>

</ion-content>
