<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="chatbox">
    <div class="message-area">
      <div class="message" *ngFor="let message of messages" [ngClass]="getClasses(message)">
        <p>{{message.payload}}</p>
        <ion-avatar *ngIf="message.from_user">
          <ngx-avatar gravatarId="{{message.from_user.email}}"
                      name="{{message.from_user.username}}" size="20"></ngx-avatar>
        </ion-avatar>
      </div>
    </div>
  </div>

  <div *ngFor="let attachment of attachments">
    <div>
      <ion-icon name="document-outline"></ion-icon>
    </div>
  </div>


  <div slot="fixed" class="chatbox chatbox-bottom">
    <div class="input-area">
      <form (submit)="sendMessage()" name="messageForm" #messageForm="ngForm">
        <!-- Attachments -->
        <input #messageAttachment  type="file" accept="image/x-png,image/gif,image/jpeg"
               name="myAttachment" (change)="attachFile($event)"  style = "display: none;"/>
        <p><ion-icon name="folder" class="attachmentBtn" (click)="messageAttachment.click()"></ion-icon></p>
        <!-- End attachments -->
        <ion-input [disabled]="sending" type="text" name="message" id="message" [(ngModel)]="message" placeholder="Say something..."></ion-input>
        <button>
          <ion-icon name="send"></ion-icon>
        </button>
      </form>
    </div>
  </div>

</ion-content>
